In [1]:
item_names = [
    'Keychain', 'Helmet', 'Snowboard',
    'Ski Poles', 'Sweatshirt', 'Boots'
]

inventories = [10, 14, 10, 15, 8, 27]

prices = [2.99, 99.99, 219.99, 89.99, 29.99, 9.99]

In [2]:
for i in range(len(inventories)):
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(len(inventories)):
    print(round(inventories[i] * prices[i], 2))

29.9
1399.86
2199.9
1349.85
239.92
269.73

In [4]:
product_values = []

for i in range(len(inventories)):
    product_values.append(round(inventories[i] * prices[i], 2))

product_values

[29.9, 1399.86, 2199.9, 1349.85, 239.92, 269.73]

In [5]:
sum(product_values)

5489.16

## Same example with enumerate function

In [6]:
product_values = []

for i, inventory in enumerate(inventories):
    product_values.append(round(inventory * prices[i], 2))
    print(f'Total inventory value of the {item_names[i]} is ${product_values[i]}.')

product_values

print('$' + str(sum(product_values)))

Total inventory value of the Keychain is $29.9.
Total inventory value of the Helmet is $1399.86.
Total inventory value of the Snowboard is $2199.9.
Total inventory value of the Ski Poles is $1349.85.
Total inventory value of the Sweatshirt is $239.92.
Total inventory value of the Boots is $269.73.
$5489.16